.nav-item {
    cursor: pointer;
}

.bi.bi-person-fill, .bi.bi-person-x-fill {
    font-size: 2em;
}

.bi.bi-person-fill.ms-0, .bi.bi-person-x-fill.ms-0 {
    font-size: 1em;
}

.navbar-brand img {
    width: 160px;
}