<div id="fondo_modal" style="background-color: rgba(0, 0, 0, 0.4); min-width: 100%; min-height: 300%; position: absolute; z-index: 100; visibility: hidden;"></div>

<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
  
     <a href="index.html" class="logo"><img src="assets/img/Logo.png" alt="" class="img-fluid"></a>
  
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a (click)="cambiarSeccion('inicio')">Inicio</a></li>
            <li><a (click)="cambiarSeccion('sobre_mi')">Sobre mi</a></li>
            <li><a (click)="cambiarSeccion('educacion')">Educación</a></li>
            <li><a (click)="cambiarSeccion('portfolio')">Proyectos</a></li>
            <li><a (click)="cambiarSeccion('experiencia')">Experiencia</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
  
      <div class="header-social-links">
        <a href="https://www.facebook.com/queondachusma" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC9iH8YLkfE2u-XSqsnvv-SA/channels" class="youtube"><i class="bi bi-youtube"></i></a>
        <a href="https://github.com/Flor-Arando" class="github"><i class="bi bi-github"></i></a>
        <a href="https://ar.linkedin.com/in/florencia-arando-942b3017a" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </header>
  
<app-inicio
  *ngIf="seccion == 'inicio'"
  [persona]="persona"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)">
</app-inicio>

<app-sobre-mi
  *ngIf="seccion == 'sobre_mi'"
  [persona]="persona"
  [skills]="skills"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarSkillEvent)="borrarSkill($event)"
  (agregarSkillEvent)="agregarSkill($event)">
</app-sobre-mi>

<!---------------------------------------------------------------------------------------------------------- EDUCACION -->
<app-educacion
  *ngIf="seccion == 'educacion'"
  [educacion]="educacion"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarEducacionEvent)="borrarEducacion($event)"
  (agregarEducacionEvent)="agregarEducacion($event)">
</app-educacion>
<!---------------------------------------------------------------------------------------------------------- PORTFOLIO -->
<app-proyectos
  *ngIf="seccion == 'portfolio'"
  [proyecto]="proyecto"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarProyectoEvent)="borrarProyecto($event)"
  (agregarProyectoEvent)="agregarProyecto($event)">
</app-proyectos>

<!---------------------------------------------------------------------------------------------------------- EXPERIENCIA -->
<div *ngIf="seccion == 'experiencia'">
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Experiencia Laboral</h2> <i class="bi bi-pencil editar-icono" data-bs-toggle="modal" data-bs-target="#modal_inicio"></i>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3 class="resume-title"></h3>
          <div class="resume-item" *ngFor="let expe of experiencia">
    
            <h4>{{ expe.puesto }}</h4>
            <p><em>{{ expe.empresa }}</em></p>
            <h5>{{ expe.desde.substring(0, 4) }} - {{ expe.hasta.substring(0, 4) }}</h5>

            <ul>
              <li>{{ expe.descripcion }}</li>
            </ul>           
          </div>

        </div>
      </div>

    </div>
  </section>
</div>

<!----------------------------------------------------------------------------------------------------FORMULARIO EXPERIENCIA-->
<div class="modal fade" id="modal_experiencia" tabindex="-1" aria-labelledby="modal_experiencia_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_experiencia_label">Editar 'Experiencia'</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form>
            <div class="mb-3">
              <label for="puesto" class="form-label">Puesto de Trabajo</label>
              <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="experiencia">
            </div>
            <div class="mb-3">
                <label for="empresa" class="form-label">Empresa Laboral</label>
                <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="experiencia">
            </div>
            <div class="mb-3">
              <label for="fecha" class="form-label">Desde</label>
              <input type="text" class="form-control" id="desde" name="desde" [(ngModel)]="experiencia">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Hasta</label>
                <input type="text" class="form-control" id="hasta" name="hasta" [(ngModel)]="experiencia">
              </div>

            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="experiencia">
            </div>
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
  
          <!--
            Falta que aparezca un mensaje de exito o error al guardar.
            Tambien deben resetearse los datos al cerrar el modal sin guardar. Actualmente aparecen modificados segun lo que se escribe en el formulario, pero no se guardan en DB
          -->
          <button type="button" class="btn btn-primary" (click)="guardarExperiencia(experiencia)" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>

<!---------------------------------------------------------------------------------------------------------- MENSAJE DE GUARDADO -->
<div class="modal" id="modal_ok" tabindex="-1" style="z-index: 999;">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header" style="border: 0;">
        
        <button type="button" class="btn-close" (click)="cerrarModal('modal_ok')" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="text-success fs-4 fw-bold text-center mb-5">
          Se guardó correctamente
        </div>
        
      </div>
    </div>
  </div>
</div>

