<div id="fondo_modal" style="background-color: rgba(0, 0, 0, 0.4); min-width: 100%; min-height: 100%; position: absolute; z-index: 100; visibility: hidden;"></div>

<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
  
     <a href="index.html" class="logo"><img src="assets/img/Logo.png" alt="" class="img-fluid"></a>
  
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a (click)="cambiarSeccion('inicio')">Inicio</a></li>
            <li><a (click)="cambiarSeccion('sobre_mi')">Sobre mi</a></li>
            <li><a (click)="cambiarSeccion('educacion')">Educación</a></li>
            <li><a (click)="cambiarSeccion('portfolio')">Proyectos</a></li>
            <li><a (click)="cambiarSeccion('experiencia')">Experiencia</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
  
      <div class="header-social-links">
        <a href="https://www.facebook.com/queondachusma" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC9iH8YLkfE2u-XSqsnvv-SA/channels" class="youtube"><i class="bi bi-youtube"></i></a>
        <a href="https://github.com/Flor-Arando" class="github"><i class="bi bi-github"></i></a>
        <a href="https://ar.linkedin.com/in/florencia-arando-942b3017a" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </header>
  
<app-inicio
  *ngIf="seccion == 'inicio'"
  [persona]="persona"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)">
</app-inicio>

<app-sobre-mi
  *ngIf="seccion == 'sobre_mi'"
  [persona]="persona"
  [skills]="skills"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarSkillEvent)="borrarSkill($event)"
  (agregarSkillEvent)="agregarSkill($event)">
</app-sobre-mi>

<!---------------------------------------------------------------------------------------------------------- EDUCACION -->
<app-educacion
  *ngIf="seccion == 'educacion'"
  [educacion]="educacion"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarEducacionEvent)="borrarEducacion($event)"
  (agregarEducacionEvent)="agregarEducacion($event)">
</app-educacion>
<!---------------------------------------------------------------------------------------------------------- PORTFOLIO -->
<app-proyectos
  *ngIf="seccion == 'portfolio'"
  [proyecto]="proyecto"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarProyectoEvent)="borrarProyecto($event)"
  (agregarProyectoEvent)="agregarProyecto($event)">
</app-proyectos>

<!---------------------------------------------------------------------------------------------------------- EXPERIENCIA -->
<app-experiencia
  *ngIf="seccion == 'experiencia'"
  [experiencia]="experiencia"
  (cambiarSeccionEvent)="cambiarSeccion($event)"
  (mostrarModalEvent)="mostrarModal($event)"
  (cerrarModalEvent)="cerrarModal($event)"
  (borrarExperienciaEvent)="borrarExperiencia($event)"
  (agregarExperienciaEvent)="agregarExperiencia($event)">
</app-experiencia>

<!---------------------------------------------------------------------------------------------------------- MENSAJE DE GUARDADO -->
<div class="modal" id="modal_ok" tabindex="-1" style="z-index: 999;">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header" style="border: 0;">
        
        <button type="button" class="btn-close" (click)="cerrarModal('modal_ok')" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="text-success fs-4 fw-bold text-center mb-5">
          Se guardó correctamente
        </div>
        
      </div>
    </div>
  </div>
</div>

