    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
        
        <div class="section-title">
          <h2>Experiencia Laboral</h2><i class="bi bi-plus-circle" (click)="mostrarModalExperiencia({id: 0, empresa:'', puesto:'', desde:'', hasta:'', descripcion:''})"></i>
        </div>
  
        <div class="row">
        <div class="resume-item" *ngFor="let expe of experiencia">
          <div class="col-lg-12">
            <h3 class="resume-title"></h3>
            
                <i class="bi bi-pencil" (click)="mostrarModalExperiencia(expe)"></i>
                
                <i class="bi bi-x-lg" (click)="mostrarModalBorrar(expe.id)"></i>
              <h4>{{ expe.puesto }}</h4>
              <p><em>{{ expe.empresa }}</em></p>
              <h5>{{ expe.desde.substring(0, 4) }} - {{ expe.hasta.substring(0, 4) }}</h5>
              <br/>
                {{ expe.descripcion }}
                       
            </div>
  
          </div>
        </div>
  
      </div>
    </section>

  
  <!----------------------------------------------------------------------------------------------------FORMULARIO EXPERIENCIA-->
  <div class="modal" id="modal_experiencia" tabindex="-1" aria-labelledby="modal_experiencia_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_experiencia_label">Editar 'Experiencia'</h5>
            <button type="button" class="btn-close" (click)="cerrarModalExperiencia()"></button>
          </div>
          <div class="modal-body">
            
            <form>
              <div class="mb-3">
                <label for="puesto" class="form-label">Puesto Laboral</label>
                <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="seleccionado.puesto">
              </div>
              <div class="mb-3">
                  <label for="empresa" class="form-label">Empresa Laboral</label>
                  <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="seleccionado.empresa">
              </div>
              <div class="mb-3">
                <label for="fecha" class="form-label">Desde</label>
                <input type="text" class="form-control" id="desde" name="desde" [(ngModel)]="seleccionado.desde">
              </div>
              <div class="mb-3">
                  <label for="fecha" class="form-label">Hasta</label>
                  <input type="text" class="form-control" id="hasta" name="hasta" [(ngModel)]="seleccionado.hasta">
                </div>
  
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="seleccionado.descripcion">
              </div>
            </form>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarModalExperiencia()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="guardarExperiencia(seleccionado)" data-bs-dismiss="modal">Guardar</button>
          </div>
          
          <div *ngIf="error != ''" class="text-danger fs-4 fw-bold text-center mb-5">
            {{ error }}
          </div>
        </div>
      </div>
    
