
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Proyectos Realizados</h2>
            <i class="bi bi-plus-circle" (click)="mostrarModalProyecto(({id: 0, titulo: '', desde:'', hasta:'', descripcion:'', link:'', foto:''}))"></i>
          </div>
  
        <!-- <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div> -->
  
        </div> 
      </section>

          <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="resume-item" *ngFor="let proyecto of proyecto">
          <div class="row gy-4">
  
            <div class="col-lg-6">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  
                  <div class="swiper-slide">
                    <img src="{{ proyecto.foto }}" class="img-fluid" alt=""> 
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="portfolio-info">
                <div> <i class="bi bi-pencil editar-icono" (click)="mostrarModalProyecto(proyecto)"></i>
                  <i class="bi bi-x-lg" (click)="mostrarModalBorrar(proyecto.id)"></i> 
                  <h2>{{ proyecto.titulo }}</h2> 
                <ul>
                  <li><strong>Periodo: </strong>{{ proyecto.desde }} - {{ proyecto.hasta }}</li> 
                  
                  <li><strong>URL del proyecto: </strong>: <a>{{ proyecto.link }}</a></li>
                </ul>
            
              <div class="portfolio-description">
                <h2>Descripción:</h2>
                <p>{{proyecto.descripcion }}</p>
              </div>

                </div>
              </div>
            </div>
  
          </div>
        </div>
        </div>
      </section><!-- End Portfolio Details Section -->

<!-----------------------------------------------------------------------------------------FORMULARIO PROYECTOS------->  

<div class="modal" id="modal_proyecto" tabindex="-1" aria-labelledby="modal_proyecto_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_proyecto_label">Editar 'Proyectos'</h5>
        <button type="button" class="btn-close" (click)="cerrarModalProyecto()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form>
          <div class="mb-3">
              <label for="titulo" class="form-label">Título del Proyecto</label>
              <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="seleccionado.titulo">
          </div>
          <div class="mb-3">
          <label for="desde" class="form-label">Desde</label>
          <input type="desde" class="form-control" id="desde" name="desde" [(ngModel)]="seleccionado.desde">
          </div>
          <div class="mb-3">
          <label for="hasta" class="form-label">Hasta</label>
          <input type="hasta" class="form-control" id="hasta" name="hasta" [(ngModel)]="seleccionado.hasta">
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="seleccionado.descripcion">
          </div>    
          <div class="mb-3">
            <label for="link" class="form-label">URL del Proyecto</label>
            <input type="link" class="form-control" id="link" name="link" [(ngModel)]="seleccionado.link">
          </div> 
          <div class="mb-3">
            <label for="foto" class="form-label">Foto del Proyecto</label>
            <input type="foto" class="form-control" id="foto" name="foto" [(ngModel)]="seleccionado.foto">
          </div>             
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalProyecto()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarProyecto(seleccionado)" data-bs-dismiss="modal">Guardar</button>
      </div>

      <div *ngIf="error != ''" class="text-danger fs-4 fw-bold text-center mb-5">
        {{ error }}
      </div>
    </div>
  </div>
</div>

