<svg viewBox="0 0 60 60" style="display: inline-block;">
    <path    stroke-dashoffset="-19" 
          pathlength="120" d="M5,30a25,25,0,1,1,50,0a25,25,0,1,1,-50,0" fill="none" stroke="lightgrey" stroke-width="5"/>
    <path [style.strokeDasharray]="barra" stroke-dashoffset="-25" 
          pathlength="100" d="$M5,30a25,25,0,1,1,50,0a25,25,0,1,1,-50,0" fill="none" 
          stroke="red" stroke-width="5"/>
    <text font-size="10" x="50%" y="57%" text-anchor="middle">{{ nivel }}%</text>
</svg>
